@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body{
  width: 100%;
  height: 100%;
  margin-top: -50px;
  margin-left: 0;
  margin-right: 0;
}
header{
  background: url(img/header.jpg) center no-repeat;
  height: 628px;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%;
  background-image: url("img/header-img.png");
}
/*header{
  display: block;
  width: 100%;
  height: 628px;
  background-image: url("img/header-img.png");
  background-color: rgba(47, 128, 237, 0.5);
  position: relative;
   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.attractie, .attractie2{
 width: 209px;
 height: 50px;
 padding-top: 40px;
 padding-left: 165px;
 font-family: "Montserrat";
 font-style: medium;
 font-size: 21px;
 height: 26px;
 color: white;
}
.attractie h3{
  font-weight: 300;
}
.slogan{
 width: 800px;
 height: 110px;
 position: absolute;
 padding-top: 45px; 
 padding-left: 180px;
 font-family: "Open Sans";
 font-size: 40px;
 color: white;
 letter-spacing: 1px;
}

.slogan-light{
  font-weight: 300;
}

.slogan > .slogan-light{
  margin-top: -35px;
}
.fb-icon{
margin: 25px;
padding-left: 69em;
}
.tw-icon{
 margin-top: -48px;
 padding-left: 73em;
 }
 .button1, .button2{
   width:282px;
   height: 68px;
   font-family: "Open Sans";
   font-style: regular;
   font-size: 18px;
   color: #2F80ED;
   background-color: white;
   border-radius: 157px;
   border: none;
 }

 .button1{
  margin-top: 13.5em;
  margin-left: 10em;
 }
 main{
  height: 572px; 
  padding-left: 185px;
 }

 .second-slogan{
   width: 1070px;
   height: 126px;
   margin-top: 80px;
   margin-bottom: -50px;
   font-family: "Open Sans";
   font-size: 44px;
 }
.second-slogan > .slogan-light{
  margin-top: -35px;
}
.conz-img, .pizza-img, .shop-img{
  margin-top: 120px;
} 

.conz-text, .pizza-text, .shop-text{
  width: 357px;
  height: 86px;
  font-size: 18px;
  font-family: "Open Sans";
  color: #333333;
}

.container1, .container2, .container3{
  float: left;
}

.container2{
  margin-left: 41px;
  margin-right: 41px;
}

footer{
  height: 1030px;
  background: linear-gradient(to right, #2F80ED 0%, #17345C 98.9%)
}

.footer-text{
  width: 600px;
  height: 424px;
  font-size: 20px;
  font-family: "Open Sans";
  color: #FFFFFF;
  padding-top: 133px;
}

.footer-text > .slogan-light{
  font-size: 18px;
}

.slogan-light2{
  font-size: 44px;
  margin-top: -15px;
  font-weight: 300;
}
.border-div{
  width: 1000px;
  height: 710px;
  margin-left: 185px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.button2{
  margin-top: 30px;
}
.dialog{
  width: 350px;
  height: 550px;
  /*background-color: #937F7F;*/
  float: right;
  position: relative;
  margin-top: -480px;
  
}

.circle{
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 50px;
  margin-top: 110px;
  text-align: center;
  border: none;
}
.dialog > a{
  width: 270px;
  height: 173px;
}

.dial{
  width: 145px;
  height: 50px; 
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
  float: right;
  color: white;
  border: none;
  margin-top: 12px;
}
.circle2{
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50px;
  margin-top: 168px;
  text-align: center;
  float: left;
  margin-right: 5px;
  border: none;
}
.sheet{
  width: 243px;
  height: 100px;
  background-color: white;
  border-radius: 15px 15px 15px 3px;
  float: left;
  padding: 10px;
  margin-top: 15px;
  font-size: 14px;
  font-family: "Open Sans";
  color: #333333;
}
.dial2{
 width: 50px;
 height: 20px;
 background-color: #E0E0E0;
 border-radius: 40px;
 float: right;
 margin-top: 50px;
 margin-right: -15px;
 border: none;
}

.dot1, .dot2, .dot3{
  width: 6px;
  height: 6px;
  border-radius: 50px;
  margin-top: 7px;  
}
.dot1{
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 9px;
}
.dot2{
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: 10px;
}
.dot2{
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 14px;
}

.profpic{
  width: 30px;
  height: 30px;
  position: relative;
  float: right;
  margin-top: 160px;
}

.shopicon{
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50px;
  float: left;
  clear: both;
  margin-top: 30px; 
  margin-right: 85px;
}

.shopicon img, .nightlife img, .food img{
  padding: 12px;
}

.shopicon p, .nightlife p, .food p{
  font-family: "Open Sans";
  color: white;
  font-size: 18px;
  margin-left: -10px;
  text-align: center;
}

.nightlife, .food{
  float: left;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50px;
  margin-top: 30px;
}

.food{
  margin-left: 85px;
}

.attractie2{
  padding-top: 30px;
  padding-left: 188px;
}
.social a, .navigation a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.social, .navigation{
  width: 200px;
  height: 25px;
  font-family: "Open Sans";
  font-size: 18px; 
  float: right;
  margin-top: -20px;
  text-align: right;
  
}
.social > a{
  text-decoration: none;
}
.navigation{
  margin-right: 165px;
}

.social h4, .navigation h4{
color: #FFFFFF;
}
.copyright{
  width: 240px;
  height: 25px;
  font-family: "Open Sans";
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  float: left;
  margin-top: 180px;
  margin-left: 190px;
}
